<div class="container px-0 px-sm-0 px-md-auto px-lg-auto px-xl-auto" *ngIf="species">
    <div class="row" *ngIf="species.name != ''">
        <div class="col-12 text-center text-sm-center text-md-left text-lg-left text-xl-left">
            <h5 class="mb-0">{{species.name}}</h5>
        </div>
    </div>

    <hr *ngIf="species.name != ''">

    <div class="row">
        <div class="col-12">
            <h5>General</h5>
        </div>
    </div>

    <div class="row" *ngIf="species.name != ''">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Classification:</strong> {{species.classification | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Designation:</strong> {{species.designation | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Average Height:</strong> {{species.average_height | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Hair Color:</strong> {{species.hair_color | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Skin Color:</strong> {{species.skin_color | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Eyes Color:</strong> {{species.eye_color | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Average Lifespan:</strong> {{species.average_lifespan | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Language:</strong> {{species.language | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Homeworld:</strong> <button class="btn btn-link pt-0 pl-1" type="button" (click)="returnElementToHome(species.homeworld.name, species.homeworld.url)">{{species.homeworld.name | titlecase}}</button></p>
        </div>
    </div>

    <div class="row" *ngIf="species.name == ''">
        <div class="col">
            <p><strong>No information available</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>People</h5>
        </div>
        <ng-container *ngIf="species.people">
            <ng-container *ngIf="species.people.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let peopleItem of species.people">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(peopleItem.name, peopleItem.url)">{{peopleItem.name | titlecase}}</button>
                </div>
            </ng-container>
            <div class="col" *ngIf="species.people.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Films</h5>
        </div>
        <ng-container *ngIf="species.films">
            <ng-container *ngIf="species.films.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let film of species.films">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(film.title, film.url)">{{film.title | titlecase}}</button>
                </div>
            </ng-container>

            <div class="col" *ngIf="species.films.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>
</div>