<div class="container px-0 px-sm-0 px-md-auto px-lg-auto px-xl-auto" *ngIf="film">
    <div class="row">
        <div class="col-12 text-center text-sm-center text-md-left text-lg-left text-xl-left">
            <h5 class="mb-0">{{film.title | titlecase}}</h5>
        </div>
    </div>

    <hr *ngIf=" film.title !='' ">

    <div class="row">
        <div class="col-12">
            <h5>General</h5>
        </div>
    </div>

    <div class="row" *ngIf="film.title != ''">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <p><strong>Title:</strong> {{film.title | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <p><strong>Episode:</strong> {{film.episode_id}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <p><strong>Director:</strong> {{film.director | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p><strong>Producer:</strong> {{film.producer | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p><strong>Release Date:</strong> {{film.release_date | titlecase | date:"dd/MM/yyyy"}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p class="text-justify"><strong>Opening Crawl:</strong> {{film.opening_crawl}}</p>
        </div>
    </div>

    <div class="row" *ngIf="film.title == ''">
        <div class="col">
            <p><strong>No information available</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Characters</h5>
        </div>
        <ng-container *ngIf="film.characters">
            <ng-container *ngIf="film.characters.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let characterItem of film.characters">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(characterItem.name, characterItem.url)">{{characterItem.name | titlecase}}</button>
                </div>
            </ng-container>

            <div class="col" *ngIf="film.characters.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Planets</h5>
        </div>
        <ng-container *ngIf="film.planets">
            <ng-container *ngIf="film.planets.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let planetsItem of film.planets">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(planetsItem.name, planetsItem.url)">{{planetsItem.name | titlecase}}</button>
                </div>
            </ng-container>
            <div class="col" *ngIf="film.planets.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Starships</h5>
        </div>
        <ng-container *ngIf="film.starships">
            <ng-container *ngIf="film.starships.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let starshipItem of film.starships">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(starshipItem.name, starshipItem.url)">{{starshipItem.name | titlecase}}</button>
                </div>
            </ng-container>

            <div class="col" *ngIf="film.starships.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Vehicles</h5>
        </div>

        <ng-container *ngIf="film.vehicles">
            <ng-container *ngIf="film.vehicles.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let vehiclesItem of film.vehicles">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(vehiclesItem.name, vehiclesItem.url)">{{vehiclesItem.name | titlecase}}</button>
                </div>
            </ng-container>

            <div class="col" *ngIf="film.vehicles.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Species</h5>
        </div>

        <ng-container *ngIf="film.species">
            <ng-container *ngIf="film.species.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let speciesItem of film.species">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(speciesItem.name, speciesItem.url)">{{speciesItem.name | titlecase}}</button>
                </div>
            </ng-container>

            <div class="col" *ngIf="film.species.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>
</div>