<div class="container px-0 px-sm-0 px-md-auto px-lg-auto px-xl-auto" *ngIf="people">
    <div class="row" *ngIf="people.name != ''">
        <div class="col-12 text-center text-sm-center text-md-left text-lg-left text-xl-left">
            <h5 class="mb-0">{{people.name}}</h5>
        </div>
    </div>

    <hr *ngIf="people.name != ''">

    <div class="row">
        <div class="col-12">
            <h5>General</h5>
        </div>
    </div>

    <div class="row" *ngIf="people.name != ''">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Height:</strong> {{people.height | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Mass:</strong> {{people.mass | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Hair Color:</strong> {{people.hair_color | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Skin Color:</strong> {{people.skin_color | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Eyes Color:</strong> {{people.eye_color | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Birth Year:</strong> {{people.birth_year | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Gender:</strong> {{people.gender | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Homeworld:</strong> <button class="btn btn-link pt-0 pl-1" type="button" (click)="returnElementToHome(people.homeworld.name, people.homeworld.url)">{{people.homeworld.name | titlecase}}</button> </p>
        </div>
    </div>

    <div class="row" *ngIf="people.name == ''">
        <div class="col">
            <p><strong>No information available</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Films</h5>
        </div>
        <ng-container *ngIf="people.films">
            <ng-container *ngIf="people.films.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let film of people.films">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(film.title, film.url)">{{film.title | titlecase}}</button>
                </div>
            </ng-container>

            <div class="col" *ngIf="people.films.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Species</h5>
        </div>

        <ng-container *ngIf="people.species">
            <ng-container *ngIf="people.species.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let especiesItem of people.species">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(especiesItem.name, especiesItem.url)">{{especiesItem.name | titlecase}}</button>
                </div>
            </ng-container>
            <div class="col" *ngIf="people.species.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Vehicles</h5>
        </div>
        <ng-container *ngIf="people.vehicles">
            <ng-container *ngIf="people.vehicles.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let vehicle of people.vehicles">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(vehicle.name, vehicle.url)">{{vehicle.name | titlecase}}</button>
                </div>
            </ng-container>

            <div class="col" *ngIf="people.vehicles.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Spaceships</h5>
        </div>
        <ng-container *ngIf="people.starships">
            <ng-container *ngIf="people.starships.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let spaceship of people.starships">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(spaceship.name, spaceship.url)">{{spaceship.name | titlecase}}</button>
                </div>
            </ng-container>

            <div class="col" *ngIf="people.starships.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>
</div>