<div class="container px-0 px-sm-0 px-md-auto px-lg-auto px-xl-auto" *ngIf="vehicle">
    <div class="row" *ngIf="vehicle.name != ''">
        <div class="col-12 text-center text-sm-center text-md-left text-lg-left text-xl-left">
            <h5 class="mb-0">{{vehicle.name}}</h5>
        </div>
    </div>

    <hr *ngIf="vehicle.name != ''">

    <div class="row">
        <div class="col-12">
            <h5>General</h5>
        </div>
    </div>

    <div class="row" *ngIf="vehicle.name != ''">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Model:</strong> {{vehicle.model | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Crew:</strong> {{vehicle.crew | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Length:</strong> {{vehicle.length | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Passengers:</strong> {{vehicle.passengers}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Cargo Capacity:</strong> {{vehicle.cargo_capacity | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Consumables:</strong> {{vehicle.consumables | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Max Atmosphering Speed:</strong> {{vehicle.max_atmosphering_speed | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Cost in Credits:</strong> {{vehicle.cost_in_credits | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Vehicle Class:</strong> {{vehicle.vehicle_class | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12">
            <p><strong>Manufacturer:</strong> {{vehicle.manufacturer | titlecase}}</p>
        </div>
    </div>

    <div class="row" *ngIf="vehicle.name == ''">
        <div class="col">
            <p><strong>No information available</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Pilots</h5>
        </div>
        <ng-container *ngIf="vehicle.pilots">
            <ng-container *ngIf="vehicle.pilots.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let pilot of vehicle.pilots">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(pilot.name, pilot.url)">{{pilot.name | titlecase}}</button>
                </div>
            </ng-container>
            <div class="col" *ngIf="vehicle.pilots.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Films</h5>
        </div>
        <ng-container *ngIf="vehicle.films">
            <ng-container *ngIf="vehicle.films.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let film of vehicle.films">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(film.title, film.url)">{{film.title | titlecase}}</button>
                </div>
            </ng-container>

            <div class="col" *ngIf="vehicle.films.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>
</div>