<div class="container px-0 px-sm-0 px-md-auto px-lg-auto px-xl-auto" *ngIf="planet">
    <div class="row" *ngIf="planet.name != ''">
        <div class="col-12 text-center text-sm-center text-md-left text-lg-left text-xl-left">
            <h5 class="mb-0">{{planet.name}}</h5>
        </div>
    </div>

    <hr *ngIf="planet.name != ''">

    <div class="row">
        <div class="col-12">
            <h5>General</h5>
        </div>
    </div>

    <div class="row" *ngIf="planet.name != ''">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Rotation Period:</strong> {{planet.rotation_period | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Orbital Period:</strong> {{planet.orbital_period | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Diameter:</strong> {{planet.diameter | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Climate:</strong> {{planet.climate | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Gravity:</strong> {{planet.gravity | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Terrain:</strong> {{planet.terrain | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Surface Water:</strong> {{planet.surface_water | titlecase}}</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <p><strong>Population:</strong> {{planet.population | titlecase}}</p>
        </div>
    </div>

    <div class="row" *ngIf="planet.name == ''">
        <div class="col">
            <p><strong>No information available</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Residents</h5>
        </div>
        <ng-container *ngIf="planet.residents">
            <ng-container *ngIf="planet.residents.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let resident of planet.residents">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(resident.name, resident.url)">{{resident.name | titlecase}}</button>
                </div>
            </ng-container>

            <div class="col" *ngIf="planet.residents.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Films</h5>
        </div>
        <ng-container *ngIf="planet.films">
            <ng-container *ngIf="planet.films.length > 0">
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let film of planet.films">
                    <button class="btn btn-link btn-block text-left" type="button" (click)="returnElementToHome(film.title, film.url)">{{film.title | titlecase}}</button>
                </div>
            </ng-container>
            <div class="col" *ngIf="planet.films.length <= 0">
                <p><strong>No information available</strong></p>
            </div>
        </ng-container>
    </div>
</div>