<div class="container-fluid px-0">
    <header>
        <div class="row black py-2">
            <div class="col-12 px-0 text-center">
                <img src="../../../assets/img/star-wars-logo.png" alt="Star Wars Logo">
            </div>
        </div>
    </header>

    <nav class="navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-expand-xl bg-dark">
        <div class="text-right">
            <button class="btn btn-dark navbar-toggler collapsed my-1" type="button" id="btnCollapse" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        <div class="row navbar-collapse collapse" id="navbarSupportedContent">
            <div class="col-12 px-0">
                <div class="container px-0 px-sm-0 px-md-0 px-lg-auto px-xl-auto">
                    <div class="row">
                        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 py-1 nav-padding" *ngFor="let category of lstCategories; let i=index">
                            <button type="button" class="btn btn-block on-hover nav-link px-0 px-sm-0 px-md-0 px-lg-auto px-xl-auto" [ngClass]="{'btn-link': i != idSelectedCategory, 'bg-white': i == idSelectedCategory}" (click)="changeSelectedCategory(i)">
                                <label class="cursor-pointer"
                                    [ngClass]="{'text-white': i != idSelectedCategory, 'text.dark': i == idSelectedCategory}">{{category.txcategorypage | titlecase}}</label>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="row" *ngIf="lstCategories">
            <div class="col-12 px-0 pb-2">
                <div class="container mt-2 px-5 px-sm-0 px-md-0 px-lg-auto px-xl-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2>{{lstCategories[idSelectedCategory].txcategorypage | titlecase}}</h2>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                            <ng-container *ngIf="categoryPages">
                                <form #f (ngSubmit)="search()">
                                    <div class="row">
                                        <div class="col-9 pr-0">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Search" name="txtSearch" [(ngModel)]="txtSearch">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 pl-1">
                                            <div class="form-group">
                                                <button class="btn btn-dark form-control col-12 col-sm-12 col-md-0 col-lg-0 col-xl-0" type="button" id="btnCollapsePage" data-toggle="collapse" data-target="#collapseList" aria-expanded="true" aria-controls="collapseList">
                                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <ul class="list-group collapse" [ngClass]="{'show': winWidth >= 576}" id="collapseList">
                                    <ng-container *ngIf="categoryPages.count > 0; else errorFound">
                                        <li class="list-group-item p-0 mt-1" *ngFor="let resultItem of categoryPages.results; let i=index">
                                            <button type="button" class="btn btn-block text-center" [ngClass]="{'btn-link': resultItem.url != urlSelectedItem, 'btn-dark': resultItem.url == urlSelectedItem}" (click)="displayItem(resultItem.url)">
                                                    <label class="cursor-pointer" *ngIf="resultItem.title">{{resultItem.title}}</label>
                                                    <label class="cursor-pointer" *ngIf="resultItem.name">{{resultItem.name}}</label>
                                                </button>
                                        </li>

                                        <li class="list-group-item p-0 mt-1 text-center" id="pages">
                                            <div class="row">
                                                <div class="col-3">
                                                    <button type="button" class="btn btn-link btn-block text-dark" id="btnPrevious" (click)="previousPage()" *ngIf="countMaxPage > 1" [disabled]="currentPage <= 0">
                                                    <i class="fas fa-arrow-left" aria-hidden="true"></i>
                                                </button>
                                                </div>
                                                <div class="col-6">
                                                    <label class="pt-2">
                                                    Page {{currentPage + 1}} of {{countMaxPage}}
                                                </label>
                                                </div>
                                                <div class="col-3">
                                                    <button type="button" class="btn btn-link btn-block text-dark" id="btnNext" (click)="nextPage()" *ngIf="countMaxPage > 1" [disabled]="currentPage + 1 >= countMaxPage">
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ng-container>

                                    <ng-template #errorFound>
                                        <li class="list-group-item p-0 mt-1 text-center border-0">
                                            Nenhum resultado encontrado. Tente novamente!
                                        </li>
                                    </ng-template>
                                </ul>

                                <hr>
                            </ng-container>
                        </div>

                        <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                            <ng-container *ngIf="idSelectedCategory == 0">
                                <app-film [urlSelectedItem]="urlSelectedItem" (urlElementFromCategory)="showElementFromCategory($event)"></app-film>
                            </ng-container>

                            <ng-container *ngIf="idSelectedCategory == 1">
                                <app-people [urlSelectedItem]="urlSelectedItem" (urlElementFromCategory)="showElementFromCategory($event)"></app-people>
                            </ng-container>

                            <ng-container *ngIf="idSelectedCategory == 2">
                                <app-planet [urlSelectedItem]="urlSelectedItem" (urlElementFromCategory)="showElementFromCategory($event)"></app-planet>
                            </ng-container>

                            <ng-container *ngIf="idSelectedCategory == 3">
                                <app-species [urlSelectedItem]="urlSelectedItem" (urlElementFromCategory)="showElementFromCategory($event)"></app-species>
                            </ng-container>

                            <ng-container *ngIf="idSelectedCategory == 4">
                                <app-starship [urlSelectedItem]="urlSelectedItem" (urlElementFromCategory)="showElementFromCategory($event)"></app-starship>
                            </ng-container>

                            <ng-container *ngIf="idSelectedCategory == 5">
                                <app-vehicle [urlSelectedItem]="urlSelectedItem" (urlElementFromCategory)="showElementFromCategory($event)"></app-vehicle>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="showErrorMenssage">
            <div class="col-12 px-4">
                <p><strong>Error accessing site content. Reload the page and if the error persists, return again
                        later.</strong></p>
            </div>
        </div>
    </main>
</div>