.container-fluid {
    overflow-x: hidden;
}

img {
    width: 203px;
    height: 88px;
}

.black {
    background-image: url('../../../assets/img/sw-space.jpg');
}

#pages {
    border: none;
}

#btnPrevious:hover,
#btnNext:hover {
    color: white !important;
    background-color: #343a40 !important;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer !important;
}

.on-hover:hover {
    background-color: white;
}

.on-hover:hover label {
    color: black !important;
}

@media(max-width: 575px) {
    .nav-padding {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media(min-width: 576px) {
    .nav-padding {
        padding-left: .25rem;
        padding-right: .25rem;
    }
}